#block-front-id-contents-video-home {
  #home-video {

    .content {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.61);

      .inner {
        width: 50%;
      }

      .logo {
        max-width: 50%;
        width: 100%;
        display: block;
        margin: 0 auto 20px;
      }

      .text {
        text-align: center;

        h1 {
          margin: 0;
          font-size: 80px;
          font-weight: 700;
        }

        h3 {
          margin-top: 20px;
          margin-bottom: 0;
        }
      }
    }

    video {
      width: 100%;
    }

  }
}