// ------------------------------------------
// ------------------------------------------
// Colores
// ------------------------------------------
// ------------------------------------------
// Grises
$color-grey-a: #454545;
$color-grey-b: #707070;
$color-grey-c: #f7f7f7;
$color-grey-d: #515151;

// Azules
$color-blue-a: #0072bc;
$color-blue-b: #204d74;
$color-blue-c: rgba(0, 84, 166, 0.80);
$color-blue-d: rgba(0, 114, 188, 0.80);

// ------------------------------------------
// ------------------------------------------
// Breakpoints
// ------------------------------------------
// ------------------------------------------
$mob: 360px;
$tab: 720px;
$desk: 960px;
$mobile-devices: 0 960px;

// ------------------------------------------
// ------------------------------------------
// Familias de fuentes y tamaños base.
// ------------------------------------------
// ------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);

$font-family-raleway: 'Raleway', sans-serif;

$base-font-size: 16px;
$base-line-height: 1em;

// ------------------------------------------
// ------------------------------------------
// Susy global config.
// ------------------------------------------
// ------------------------------------------
$susy: (
        global-box-sizing: border-box,
        columns: 12,
        gutters: 1/4,
        math: fluid,
        output: float,
        gutter-position: after,
        debug: (image: hide)
)