// Tomamos prestado .lcontainer desde el layout "landing" para poder extender de el.

$susy: (
        container: 1200px,
        global-box-sizing:border-box,
        columns: 12,
        gutters: 1/4,
        math: fluid,
        output: float,
        gutter-position: after,
        debug: (image: hide)
);

// Este class solo se tiene que utilizar dentro de una
// region para restringir el ancho del contenido.
.l-container {
  @include container;
  @include pie-clearfix;
  padding: 0;
}