@include breakpoint($mobile-devices) {

  #block-views-clients-block-clients {
    padding: 20px 15px;

    td {
      width: 100%;
      float: left;
      padding: 0 0 15px;

      // Definimos breakpoint exclusivo por razones esteticas.
      @include breakpoint(440px) {
        width: 50%;

        &.col-1,
        &.col-3,
        &.col-5 {
          padding: 0 10px 15px 0;
        }

        &.col-2,
        &.col-4,
        &.col-6 {
          padding: 0 0 15px 10px;
        }

      }

      @include breakpoint($tab) {
        width: 33.3333%;
        padding: 10px !important;

        &.col-first {
          padding-left: 10px;
        }

        &.col-last {
          padding-right: 10px;
        }

      }

    }

  }

}